

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><font color="white">Contact</font>
        
                </h1>
                <ol class="breadcrumb background">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.894897886797!2d-79.93106168483129!3d39.8765920962359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88350d5194e16865%3A0x8b834a37c3ee55da!2sNemacolin+Volunteer+Fire+Co!5e0!3m2!1sen!2sus!4v1471311042670" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3><font color="white">Contact Details</font></h3>
                <p><font color="blue"><i class="fa fa-envelope"></i>
                   <abbr title="Address">A</abbr>: 441 Roosevelt Blvd<br>P.O. Box 200<br>Nemacolin, PA 15351<br></font>
                </p>
                <p><font color="white"><i class="fa fa-phone faxp"></i> 
                   <abbr title="Phone">P</abbr>: (724) 966-7408</font></p>

                <p><font color="blue"><i class="fa fa-fax"></i>
                    <abbr title="Fax">F</abbr>: (724) 966-7409</font></p>
            
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="https://www.facebook.com/nemacolin.vfd"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <div class="hline"></div>
		 			
		 			<form action="/contact-form" method="POST">
					  <div class="form-group">
					    <label for="InputName1"><font color="white">Your Name</font></label>
					    <input type="text" class="form-control" id="exampleInputEmail1" name="name" required>
					  </div>
					  <div class="form-group">
					    <label for="InputEmail1"><font color="white">Email address</font></label>
					    <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
					  </div>
                      <div class="form-group">
                        <label for="InputNumber1"><font color="white">Phone number</font></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="phone" required>
                      </div>
					  <div class="form-group">
					    <label for="InputSubject1"><font color="white">Subject</font></label>
					    <input type="text" class="form-control" id="exampleInputEmail1" name="subject" required>
					  </div>
					  <div class="form-group">
					  	<label for="message1"><font color="white">Message</font></label>
					  	<textarea class="form-control" id="message1" rows="3" name="message" required></textarea>
					  </div>
					  <button type="submit" class="btn btn-theme"><b>Submit</b></button>
					</form>
			</div><! --/col-lg-8 -->
            
        </div>
        
        <!-- /.row -->

        <hr>

       
