

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Apparatus
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Two Column Portfolio</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="/portfolio-item">
                    <img class="img-responsive img-hover" src="/img/679.jpeg" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">67-9</a>
                </h3>
                <p>67-9 is a **** Chevy Thaoe that we use as a personnel carrier and to also tow our dive boat.</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="/img/676.jpeg" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Engine 67-6</a>
                </h3>
                <p>67-6 is a Perice Javlen; it currently serves as engine/rescue capable of carring five packmen and a driver. 67-6 holds 750 gallons and pumps 1250 gpm's with it's Hale pump. The engine is also equipted with a full set of amos extracation equipment.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Three</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="/img/677.jpeg" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Engine 67-7</a>
                </h3>
                <p>Engine 67-7 is a 1992 GMC Topkick and is our first due engine. This engine has room for to packmen, an officer, and driver. There are also five additional packs stored in the side compartment. 67-7 holds 750 gallons of water and with its Hale pump can push about 1250 gallons per minute. </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Three</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Four</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="/img/67a3.jpeg" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">67-A3</a>
                </h3>
                <p>67-A3 is our state lisenced type II ambulance. We are lisenced at the Basic Life Support(BLS) level. Our service is run under the command of Allegheny General Hospital which authorizes us to, in addition to providing BLS level care authorizes us too carry and use CPAP, Epi-Pens, and Narcan. </p>
            </div>
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="/img/678.jpeg" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">67-8</a>
                </h3>
                <p>67-8 is our brush truck, it's a 1998 Ford F-350 powerstroke 4x4. We utlize this truck for any small fires(brush, trash, and forest fires) in addition to reports of down trees and towing the boat if needed. This truck holds 150 gallons of water and can transport up to six personnel if needed.</p>
                </div>
            </div>
             <!-- /.row -->
   
             <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="/img/boat.jpeg" alt="" width="600px" height="200px">
                </a>
                <h3>
                    <a href="portfolio-item.html">67-Boat</a>
                </h3>
                <p>67-Boat is untilized by our dive team in efforts to search and recover missing person/body.</p>
            </div>
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Four</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
            </div>
              <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        
