
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><font color="white">Useful Links</font>
                </h1>
                <ol class="breadcrumb background">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Useful Links</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-6 picture" "col-sm-6" "col-md-6">
               <a href="https://emscharts.com/pub/default.cfm"><img alt="EMSCharts" src="/img/emscharts.jpeg" width=></a>
            </div>
            <div class="col-lg-6" "col-sm-6" "col-md-6">
               <a href="http://www.emsi.org"><img alt="EMSI" src="/img/emsi.jpeg" width=></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 picture2" "col-md-6" "col-sm-6">
                <a href="http://www.osfc.pa.gov/Pages/default.aspx"><img alt="PAfirecommissioner" src="/img/firecom.jpeg"></a>
            </div>
            <div class="col-lg-6 picture2 picture3" "col-md-6" "col-sm-6">
                <a href="http://www.co.greene.pa.us/secured/gc2/depts/lo/ems-911/ems.htm"><img alt="GreenecountyEMA" src="/img/greene.jpeg"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" "col-md-6" "col-sm-6">
                <a href="http://www.pema.pa.gov/Pages/Default.aspx#.V8BV_5grK00"><img alt="PEMA" src="/img/pema.jpeg"></a>
            </div>
            <div class="col-lg-6 picture3" "col-md-6" "col-sm-6">
                <a href="http://www.fema.gov/"><img alt="FEMA" src="/img/fema2.jpeg"></a>
            </div>
         </div>
         
        <div class="row">
            <div class="col-lg-6 picture2" "col-md-6" "col-sm-6">
                <a href="http://www.cumberlandtwppolice.net/"><img alt="CmberlandtwpPolice" src="/img/cpd.jpeg"></a>
            </div>
            <div class="col-lg-6 picture" "col-md-6" "col-sm-6">
                <a href="http://www.psp.pa.gov/Pages/default.aspx"><img alt="PAstatePolice" src="/img/psp.jpeg"></a>
            </div>
        </div>
        
         <div class="row">
            <div class="col-lg-6 picture" "col-md-6" "col-sm-6">
                <a href="http://www.waynesburgfire.com/"><img alt="Waynesburgfire" src="/img/waynesburg.jpeg"></a>
            </div>
            <div class="col-lg=6 picture" "col-md-6" "col-sm-6">
                <a href="http://www.angelfire.com/pa3/jvfc20/"><img alt="Jeffersonfire" src="/img/jeff.jpeg"></a>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6" "col-md-6" "col-sm-6">
                <a href="http://www.nfpa.org/"><img alt="NFPA" src="/img/nfpa.jpeg"></a>
            </div>
            <div class="col-lg-6 picture" "col-md-6" "col-sm-6">
                <a href="https://www.usfa.fema.gov/training/nfa/"><img alt="NationalFireAcademy" src="/img/usfa.jpeg"></a>
            </div>
         </div
        <!-- /.row -->

        <hr>

       