  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><font color="white">Membership</font>
                    
                </h1>
                <ol class="breadcrumb background">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Membership</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

         <!-- Content Column -->
            <div class="col-md-12">
            <h2><font color="white">Regular Membership</font></h2>
            <p><font color="white">If you wolud like to help your community in a time of need, fight fire, operate on an ambulance as an EMT, dive in search of missing people, or all of the above please fill free to fill out an <a href="/textdoc/app.pdf">applacation</a> and fax it in or return it to any member.</font></p>
            </div>

            <div class="col-md-12">
            <h2><font color="white">NERT Team</font></h2>
            <p><font color="white">A NERT team acts only as an EMT on the ambulance or as a diver for the dive team. These indviduals are not members of the department but still wish to help their community.If you wish to join the NERT Team please fill out this <a href="/textdoc/nert.pdf">applacation</a> and fax it or return it to any member.</font></p>
            </div>
