

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><font color="white">
                Our Members</font>                    
                </h1>
                <ol class="breadcrumb background">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Members</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

     
            <!-- Content Column -->
            <div class="col-md-5">
                <h2><font color="white">Line officers</font></h2>
                <ul>
                <font color="white"><li><b>Cheif - Jim Schiffbauer</b></li></font>
                <font color="white"><li><b>1st Assistant Cheif - Harvey Knestrick</b></li></font>
                <font color="white"><li><b>2nd Assistant Cheif - Drew Cubic Sr.</b></li></font>
                <font color="white"><li><b>Captian - Paul Kozlowski</b></li></font>
                <font color="white"><li><b>Assistant Captian - Edward Helman</b></li></font>
                <font color="white"><li><b>Dive Captain - Jeremy Nelson</b></li></font>
                <font color="white"><li><b>1st Lieutenant - Marvin Laucher</b></li></font>
                <font color="white"><li><b>2nd Lieutenant - Mary Kozlowski</b></li></font>
                </ul>
            </div>

            <div class="col-md-4">
                <h2><font color="white">Executive Board</font></h2>
                <ul>
                <font color="white"><li><b>President - Robert Philips</b></li></font>
                <font color="white"><li><b>Vice President - Max Brozik Jr.</b></li></font>
                <font color="white"><li><b>Recording Secretary - Judy Gibson</b></li></font>
                <font color="white"><li><b>Treasurer - Drew Cubic Jr.</b></li></font>
                <font color="white"><li><b>Financial Secretary - Mary Kozlowski</b></li></font>
                </ul>
            </div>

            <div class="col-md-9">
                <h2><font color="white">Trustees</font><h2>
                <ul>
                <font color="white"><li><b>1</b></li></font>
                <font color="white"><li><b>2</b></li></font>
                <font color="white"><li><b>3</b></li></font>
                <font color="white"><li><b>4</b></li></font>
                <font color="white"><li><b>5</b></li></font>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

       